Recipes/for/Enterprise Integration Patterns/Message Construction/5 Request-Reply/Request-Reply - Getting Products/src/main/resources/wsdl/ProductsEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Product">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" nillable="false" maxOccurs="unbounded" name="ProductID" xmlns=""/>
                            <xs:element nillable="false" maxOccurs="unbounded" name="ProductName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SupplierID" xmlns=""/>
                            <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CategoryID" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuantityPerUnit">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="UnitPrice" xmlns=""/>
                            <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="UnitsInStock" xmlns=""/>
                            <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="UnitsOnOrder" xmlns=""/>
                            <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReorderLevel" xmlns=""/>
                            <xs:element type="xs:boolean" nillable="false" maxOccurs="unbounded" name="Discontinued" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
