Recipes/for/thirdpartyinvoicestatusintegrationwiththearibanetwork/Example Resources/InvoiceReceiver.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://Third-Pary.System.com:8444/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://Third-Pary.System.com:8444/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://Third-Pary.System.com:8444/">
      <s:element name="InvoiceReceiverAriba">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DOC" nillable="true" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InvoiceReceiverAribaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InvoiceReceiverAribaSoapIn">
    <wsdl:part name="parameters" element="tns:InvoiceReceiverAriba" />
  </wsdl:message>
  <wsdl:message name="InvoiceReceiverAribaSoapOut">
    <wsdl:part name="parameters" element="tns:InvoiceReceiverAribaResponse" />
  </wsdl:message>
  <wsdl:portType name="InvoiceReceiverSoap">
    <wsdl:operation name="InvoiceReceiverAriba">
      <wsdl:input message="tns:InvoiceReceiverAribaSoapIn" />
      <wsdl:output message="tns:InvoiceReceiverAribaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceReceiverSoap" type="tns:InvoiceReceiverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvoiceReceiverAriba">
      <soap:operation soapAction="https://Third-Pary.System.com:8444/InvoiceReceiverAriba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InvoiceReceiverSoap12" type="tns:InvoiceReceiverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvoiceReceiverAriba">
      <soap12:operation soapAction="https://Third-Pary.System.com:8444/InvoiceReceiverAriba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceReceiver">
    <wsdl:port name="InvoiceReceiverSoap" binding="tns:InvoiceReceiverSoap">
      <soap:address location="https://Third-Pary.System.com:8444/InvoiceReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="InvoiceReceiverSoap12" binding="tns:InvoiceReceiverSoap12">
      <soap12:address location="https://Third-Pary.System.com:8444/InvoiceReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>